<h2>User info</h2>
<%= form_with model: @user do |f| %>
  <div>
    <label for="inputName">Name</label>
  </div>
  <div>
    <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"名前"%>
  </div>
  <div>
    <label for="inputImage">Image</label>
  </div>
  <div>
    <%= f.file_field :profile_image, placeholder: "プロフィール画像", accept: "image/*" %>  
  </div>
  <div>
    <label for="inputIntroduction">Introduction</label>
  </div>
    <%= f.text_area :Introduction, autofocus: true, id:"inputIntroduction", placeholder:"XXX"%>
  <div>
    <%= f.submit "Update" %>
 </div>
<% end %>