<!-- ユーザーの詳細 -->
<div>
  <h3><%= @user.name %></h3>
 <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
 </div>



<% @books.each do |book| %>
<div>
  <%= image_tag @user.get_profile_image(100,100) %>
  <%= link_to book_path(book.id) do %>
  <% end %>
  <p>ショップ名：<%= book.title %></p>
  <p>説明：<%= book.body %></p>
  <p>ユーザーネーム：<%= book.user.name %></p>
</div>
<% end %>