<div class="container px-5 px-sm-0">
  <div class="row">  
    <div class="col-md-3">
      
 <h2>Book detail</h2>
       
         <div>
        <p><%= image_tag @user.get_profile_image(100,100) %></p>
         </div>
       <table class="table">
         <tbody>
           <tr></tr>
           <tr>
             <th>name</th>
           <th> <%= @user.name %></th>
           </tr>
           <tr>
             <th>introduction</th>
             <td><%= @user.introduction %></td>
           <th></th>
           </tr>
         </tbody>
        </table>
            <div>
          <!--下記にhref=""でアドレス追記しないとeditにとべない-->
          <a class="btn btn-outline-secondary btn-block rounded" href="<%= edit_user_path(@user) %>">
            <i class="fa-solid fa-user-pen"></i>
          </a>
           </div>

<h2>New book</h2>
<% if @book.errors.any? %>
  <%= @book.errors.count %>件のerrorが発生しました
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_with model: @book do |f| %>

  <h4>タイトル</h4>
  <%= f.text_field :title %>
	
  <h4>本文</h4>
  <%= f.text_area :body %>
  

  <%= f.submit '投稿' %>

<% end %>

</div>
<div class="col-md-8 offset-md-1">


       <table class="table">
          <thead></thead>
        <tr>
        <td>
          <p><%= image_tag @book.user.get_profile_image(100,100) %></p>
          <p> <%=link_to @book.user.name, user_path(@book.user_id) %></p>
        </td>
        </div>
        <div class="col-md-8 offset-md-1">
 
        <td>
        <p><%= link_to @book.title, book_path(@book.id) %></p>
        </td>
        <td>
          <p><%= @book.body %></p>
        </td>
         <td>
             <% if @book.user == current_user %>
             <td>
                <a class="btn btn-sm btn-success " href="/books/<%= @book.id %>/edit">edit</a>
             <td>
             <td>
                <a class="btn btn-sm btn-danger destroy_book_126349" rel="nofollow" data-method="delete" data-confirm="本当に削除しますか？" href="/books/<%= @book.id %>">Destroy</a>
             </td>
             <% end %>
         </tr>
     </table>
         </div>
        </div>
      </div>
